/**
*For this Exercise you will have to SLOWLY change the width of your screen to see the 3 different changes in: 1. background color 2. color of text 3. font family of text
*/



/**
*CHANGING BACKGROUND ACCORDING TO WIDTH
*when width is min 500 background color will change to beige
nb: I tried with  body and .body and both works
*/

@media (min-width:500px) {
    body {
        background: grey;
    }
}

/**
*CHANGING FONT COLOR ACCORDING TO WIDTH
*when with is min 700 font color of h1 will change to blue violet
*/

@media (min-width:700px) {
   h1 {
        color:blueviolet;
    }
}

/**
*CHANGING FONT TYPE ACCORDING TO WIDTH
*when with is min 900 font family  will change to fantasy
*/

@media (min-width:900px) {
   h1 {
        font-family:fantasy;
    }
}

