body {
    background-color: #fff5d8;
    margin: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

.container {
    width: 90%;
    border: 1px solid #fff5d8;
    background-color: #fff5d8;
}

.logoheader {
    padding: 1em;
    color: white;
    background-color: #fff5d8;
     /* clear: left;*/
    text-align: left;
}

/*  header h2 {
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
*/

nav {
    display: inline-block;
    width: 740px;
   text-align: right;
    float: right;
}

            header h3 {
                display: inline-block;
            }

            nav ul {
                list-style-type: none;
            }

            nav li {
                display: inline-block;
                margin-right: 15px;
            }

            nav a {
                font-size: 1.3em;
                color: #181818;
                padding-bottom: 3px;
                text-decoration: none;
            }

            nav a:hover {
                color: #760001;
                border-bottom: 3px solid #760001;

            }

header {}


.banner {
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background-image:url('Imagen_Zoror/ZororBanner2.png') ;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

            .bannerdescription {
                position: absolute;
                bottom: 0;
                border-radius: 0px 0px 5px 5px;
                width: 99.5%;
                height: 33px;
                padding-top: 15px;
                padding-left: 4px;
                background-color: rgb(24, 24, 24);
                color: white;
                font-size: 0.8em;
            }


            span {
                padding: 1em;
                color: white;
                background-color: black;
                clear: left;
                text-align: left;
            }

            .barranegra {
                display: inline-block;
            }

/* section {
    margin: 0;
    padding: 1em;
}*/

article, aside {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article {
    float: left;
    max-width: 50%;
}

aside {
    position:absolute;
    margin-left: 170px;
    border-left: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
    border-top: 1px solid lightslategray;
    background-color: lightslategray;
    padding: 1em;
    overflow: hidden;
    float:right;
    max-width: 30%;
}

h1 {
    color: black;
}

p {
    color: black;
}

button {
    float: right;
}

footer {
    padding: 1em;
    color: white;
    background-color: #fff5d8;
    clear: left;
    text-align: center;
    font-family: "cambria";
    width: 88%;
}

.navfooter {
    display: inline-block;
    list-style: none
}

</style >
