.down-main {
    margin-top: 7%;
}

p {
    text-align: justify;
}

.blank-div {
    visibility: hidden
}


/*  PARALLAX */

/* Header Parallax Element Style*/

.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.paral2 {
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

/* Paragraph for Parallax Section */

.paral h1 {
    color: black;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
}

.paral p {
    font-size: 1rem;
    color: #343A40;
    text-align: justify;
    line-height: 60px;
}

/* Heading for Parallax Section */

/* Image for Parallax Section */

.paralsec {
    background-image: url("images/nature_call-wide-2880-1800.jpg");
    filter: grayscale(100%);
}

.paralsec1 {
    background-image: url("../EduardoMignotCV/images/tree-forest-2880x1800.jpg");
    filter: grayscale(100%);
}

.paralsec2 {
    background-image: url("../EduardoMignotCV/images/tree-sunset.jpg");
    filter: grayscale(100%);
}

.paralwhite {
    background-color: white;
}

/* Add more images for more sections */

/* Remove Bottom Margin from Jumbotron */

.jumbotron {
    margin-bottom: 0;
}




/* Footer */

.wn-footer {
    padding: 2.5rem 0;
    text-align: center;
    color: white;
    background-color: #607D8B;
    border-top: .05rem solid #e5e5e5;
}

.wn-footer a {
    color: yellow;
}



/* FOR THE VERTICAL MENUE */

/* Set a width if you like */

.vertical-menu {
    width: 10%;
    /* Set a width if you like */
    height: 50%;
    /* Grey background color */
    display: block;
    /* Make the links appear below each other */
    text-decoration: none;
    /* Remove underline from links */
    float: right;
    position: fixed;

}

.vertical-menu a {
    text-decoration: none;
    /* Remove underline from links */
    color: grey;
}

.vertical-menu a:hover {
    color: white;
    /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: white;
    /* Add a green color to the "active/current" link */
    color: white;
}

*/
