
.down-main {
    padding-top: 7%;
}



.vertical-menu {
    width: 10%;
    /* Set a width if you like */
    height: 50%;
    /* Grey background color */
    display: block;
    /* Make the links appear below each other */
    text-decoration: none;
    /* Remove underline from links */

}

.vertical-menu a {
    text-decoration: none;
    /* Remove underline from links */
    color:grey;
}

.vertical-menu a:hover {
    color: white;
    /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: white;
    /* Add a green color to the "active/current" link */
    color: white;
}

